@mixin space-adjuster($w: auto, $pad: auto, $margin: auto){
    width: $w;
    padding: $pad;
    margin: $margin;
}

@mixin width-adjuster($max-w){
    max-width: $max-w;
}

@mixin border-box(){
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

