#results-container{
    background-color: #fff;
}
#results-heading{
    text-align: center;
}
#results p[class="normal"]{
    font-size: 2rem;
}
#results p{
    text-align: center;
}
#percentage{
    font-weight: 800;
    font-size: 5rem;
}
#grade{
    font-weight: 800;
    font-size: 4rem;
}